
/*
  ========================================
  Custom styles
  ========================================
*/

/*html {
  background-image: url("assets/images/Pineapple-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/

body {
  margin: 0;
  padding: 0;
  color: #797878;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #000;
  text-transform: full-width;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
}

h1, h3, h4, h5 {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 26px;
  line-height: 44px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  color: #a9b2b9;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
strong {
  font-weight: 700;
}

q,
em {
  font-style: italic;
}

br {
  margin: 5px 0;
}

a {
  color:#2eb595;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

i {
  color:#696969;
}

/*
----------------
header
----------------
*/
.background-image {
  height: 100vh;
  width: 100vw;
  background-image: url("http://i.imgur.com/BICXz27.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  display: flex;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  position:absolute;
  top: 15%;
  height: 70%;
  width: 100%;
  box-shadow: 0 1.3px 1.3px 2px gray;
  z-index: 10;
}

.sm-menu {
  position:fixed;
  top:0;
  height: 70px;
}

.profil-pic {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.sm-menu .profil-pic {
  display:none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.sm-menu .navbar {
  flex-direction:row-reverse;
  justify-content: space-between;
}

.contact {
  margin: 0 auto;
  text-align: center;
}

.sm-menu .contact {
  margin: 0;
}

.contact > ul{
  display: flex;
  justify-content: center;
  padding: 0;
}

.main-header h1 {
  font-size: 3em;
  letter-spacing: 5px;
  line-height: 1em;
}

.sm-menu h1 {
  display: none;
}

.contact li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 10px 20px;
  height: 35px;
  width: 35px;
  font-size: 20px;
  border-radius: 50%;
  border: thin solid #7CE3C8;
  box-shadow: 0px 3px 6px 0px grey;
}

.contact li:hover {
  box-shadow: 0px 4px 6px 1px grey;
}

.contact li:first-child {
  margin-left: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sm-menu .title {
  display: none;
}

.title > span {
  background-color: #797878;
  width: 60px;
  height: 2px;
  margin: 0 10px;
}

.title >h3 {
  color:#797878;
}

.nav-button {
  display:flex;
  justify-content: space-between;
  min-width: 100px;
}

.nav-button > button {
  height: 40px;
  width: 120px;
  background-color: #fff;
  border: thin solid #7CE3C8;
  box-shadow: 0px 3px 6px 0px grey;
  text-align: center;
  vertical-align: middle;
  border-radius:2.5px;
  margin: 10px;
}

.nav-button > button:hover, .activated {
  background-color: #7CE3C8 !important;
  color: #fff !important;
  box-shadow: 0px 4px 6px 1px grey;
}

/*
----------------
About me
----------------
*/

.about-me {
  padding: 10px 50px;
  min-height: 450px;
}

.about-me > p {
  margin: 30px 0;
  text-align: justify;
  line-height: 30px;
  margin-top: 30px;
}

/*
----------------
Curriculum
----------------
*/

.curriculum {
  background-color: #CEF2E8;
  border-top: ridge thin #696969;
  border-bottom: ridge thin #696969;
  padding: 10px 50px;
}

.curriculum h3 {
  margin-top: 5px;
  color: #48494c;
}

.schoolAndWork {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}

.studies, .pro-xp {
  text-align: justify;
  width: 50%;
  padding: 20px;
  min-width: 300px;
}

.cv {
  display: flex;
  justify-content: center;
  align-items: center;
/*   text-align: center; */
}

.cv > p {
  margin-right: 15px;
  font-size: 15px;
}

/*
----------------
Portfolio
----------------
*/

.portfolio {
  padding:10px 50px;
}

.portfolio h3 {
  margin-bottom: 10px;
  color: #48494c;
}

.portfolio> ul {
  justify-content:center;
}

.project li {
  min-height: 320px;
  width: 520px;
  border:thin ridge #696969;
  margin: 5px;
  overflow: hidden;
}

.project-content {
  align-items: flex-start;
  padding: 10px;
}
.project-content video, .project-content img {
  height: 200px;
  width: 200px;
  box-shadow: 0px 1px 1px 1px gray;
  margin-bottom: 20px;
}

.project-content p {
  text-align: center;
  font-size: 13px;
  vertical-align: top;
  margin: 0;
}


/*
----------------
Tools
----------------
*/

.tools {
  padding:10px 50px;
  background-color: #CEF2E8;
  border-top: thin ridge #696969;
  border-bottom: thin ridge #696969;
  min-height: 450px;
}

.tools ul {
  justify-content:center;
  line-height: 50px;
  margin-top: 50px;
}

.tools i {
  font-size: 70px;
  color: #696969;
}

/*
----------------
Footer
----------------
*/

.main-footer {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.main-footer ul {
  margin: 0;
  justify-content:center;
}
