
/*
  ========================================
  Custom styles
  ========================================
*/

/*html {
  background-image: url("assets/images/Pineapple-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/

body {
  background-color: white;
  color: #023;
  font: 400 16px/22px "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0;
  padding: 0;
}

.bigLine {
  margin: 1em auto;
  height:1.5px;
  width: 90%;
  background-color: #383737;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #648880;
}
h1, h3, h4, h5 {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
p {
  font-size: 15px;
}
strong {
  font-weight: 700;
}

q,
em {
  font-style: italic;
}

br {
  margin: 5px 0;
}

a {
  color:#189163;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 2px 3px rgba(0, 255, 158, 0.49);
}

i {
  color:#648880;
}

/*
----------------
header
----------------
*/

.crop {
  margin:0 auto;
  max-height: 125px;
  max-width: 125px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.crop img {
  height: 250px;
  width: 250px;
  margin: 0px 0 0 -65px;
}

.contact {
  margin: auto;
  text-align: center;
}

.contact a:hover {
  text-shadow: none;
}

.contact > ul{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-header h1 {
  font-size: 2.3em;
  line-height: 0;
}

.contact li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383737;
  color: #fff;
  margin: 10px 20px;
  height: 35px;
  width: 35px;
  font-size: 20px;
  border-radius: 50%
}

/*
----------------
About me
----------------
*/

.about-me {
  margin: 1em;
}

.about-me > p {
  margin: 10px 0;
  text-align: justify;
}

/*
----------------
Curriculum
----------------
*/

.curriculum {
  background-color: #e8f2f0;
  border-top: ridge thin #383737;
  border-bottom: ridge thin #383737;

}

.studies, .pro-xp {
  padding: 0 1em;
}

.title-right {
  text-align: right;
  padding-right: 1em;
}

.curriculum h3 {
  margin-top: 5px;
  color: #575858;
}

.cv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv > p {
  margin-right: 15px;
  font-size: 15px;
}

/*
----------------
Portfolio
----------------
*/

.portfolio {
  margin:1em;
}

.portfolio h3 {
  color: #575858;
}


/*
----------------
Tools
----------------
*/

.tools {
  margin:1em;
}

.tools i {
  font-size: 70px;
  color:#575858;
}

/*
----------------
Footer
----------------
*/

.main-footer {
  margin: 1em;
}

.main-footer ul {
  margin-bottom: 0;
}
